<h1>Workouts created by <%= @current_user.name %></h1>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th class="align-middle">Number</th>
            <th class="align-middle">Description</th>
            <th>Full workout</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% @workouts.each do |workout| %>
            <tr>
                <td class="align-middle"><%= workout.id %></td>
                <td id="body"><%= workout.body %></td>
                <td class="align-middle"><%= link_to "Show", workout_path(workout) %></td>
            </tr>
        <% end %>
    </tbody>
</table>
