<h1>Public Workouts</h1>
<%= link_to "Random Workout", workouts_random_path, class: "btn btn-success" %><br/><br/>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Created By</th>
            <th>Description</th>
            <th>Full workout</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% @workouts.each do |workout| %>
            <% unless workout.private? %>
                <tr>
                    <td class="align-middle"><%= workout.trainer %></td>
                    <td id="body"><%= workout.body %></td>
                    <td class="align-middle"><%= link_to "Show", workout_path(workout) %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>