<h1>Choose your Workout</h1>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Workout No.</th>
            <th>Created By</th>
            <th>Full workout</td>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% @workouts.each do |workout| %>
            <% unless workout.private? %>
                <tr>
                    <td><%= workout.id %></td>
                    <td><%= workout.trainer %></td>
                    <td><%= link_to "Show", workout_path(workout) %>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>